@mixin background-image-cover($url) {
  background-image: url($url);
  @include background-image-cover();
}

@mixin background-image-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin linear-gradient($gradient, $fallback-color){
    background: $fallback-color; /* Old browsers */
    background: -moz-linear-gradient($gradient); /* FF3.6+ */
    background: -webkit-gradient($gradient); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient($gradient); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($gradient); /* Opera 11.10+ */
    background: -ms-linear-gradient($gradient); /* IE10+ */
    background: linear-gradient($gradient); /* W3C */
}