<section class="container login-container">

  <h1>{{ !user ? 'Login' : 'Hello ' + user.firstname }}</h1>

  <div class="error" *ngIf="error">
    {{ error }}
  </div>

  <div *ngIf="!user">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email_input">Email</label>
        <input id="email_input" type="email" class="form-control" [(ngModel)]="model.email" name="email" email required>
      </div>
      <div class="form-group">
        <label for="pw_input">Password</label>
        <input id="pw_input" type="password" class="form-control" [(ngModel)]="model.password" name="password" required>
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid || processing" class="btn" disabled>Login</button>
      <p>
        <a href="/signup" class="link-default">Signup</a>
      </p>
    </form>
  </div>

  <div *ngIf="user" class="account">
    <p>{{ user.firstname}} {{ user.lastname }}</p>
    <p>{{ user.email }}</p>
    <button (click)="logout()" class="btn btn-outline-info">Change user</button>
  </div>

</section>

