doctype
html
  include includes/head.pug
  body(class="")
    table(border="0" cellpadding="0" cellspacing="0" class="body")
      tr
        td &nbsp;
        td.container
          div.content
            span.preheader Welcome to Shared Shopping List. Please click the link below to complete verification.
            table.main
              tr
                td.wrapper
                  table(border="0" cellpadding="0" cellspacing="0")
                    tr
                      td
                        p Hi #{user.firstname},
                        p Welcome to Shared Shopping List
                        p Please click the link below to complete verification.
                        table(border="0" cellpadding="0" cellspacing="0" class="btn btn-primary")
                          tbody
                            tr
                             td(align="left")
                               table(border="0" cellpadding="0" cellspacing="0")
                                 tbody
                                   tr
                                    td
                                      a(href= activationLink target="_blank") Verify My Email Address
                        p If you did not sign up for this account you can ignore this email and the account will be deleted.
                        p Best regards,
                        p The Shared Shopping List team
            div.footer
              table(border="0" cellpadding="0" cellspacing="0")
                tr
                  td.content-block
                    span.apple-link Shared Shopping List, Timpurinkuja 1a, 02650 Espoo, Finland
        td &nbsp;
