@import "../../node_modules/bootstrap/scss/variables";

// ************* COLORS ************* //

// primary
$color-grey-light: #cecece;
$color-grey-dark: #282828;
$color-grey-darker: #1c1c1c;
$color-green: #42bb6f;
$color-blue: #517c95;
$color-blue-bg: #28303a;
$color-red: #ff5e5e;

// text
$color-text-default: $color-grey-light;

// utility variables
$color-shift-light: 10%;
$color-shift-medium: 25%;
$color-shift-intense: 50%;
$color-shift-default: $color-shift-light;

// ************* TYPOGRAPHY ************* //

$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-heading: $font-family-montserrat;

$font-family-open-sans: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-family-text: $font-family-open-sans;

// ************* LAYOUT ************* //

$space-default: $grid-gutter-width-base;

// ************* BOOTSTRAP ************* //

// Colors
$brand-primary:             $color-green;
$brand-success:             $color-green;
$brand-info:                lighten($color-blue-bg, $color-shift-default);
$brand-warning:             lighten($color-blue-bg, $color-shift-default);
$brand-danger:              $color-red;

// Reboot
$body-bg: $color-grey-dark;
$body-color: $color-text-default;

// Modal
$modal-backdrop-opacity: .8;
$modal-content-bg: $color-grey-dark;
$modal-content-border-width: 0;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-header-padding: $space-default/2;

// Button
$btn-success-bg: $brand-success;
