<app-groups [parentRoute]="'/lists'"></app-groups>

<section class="list-container">

  <!-- BEGIN NEW ITEM MODAL -->
  <template #shoppingItemModal let-c="close" let-d="dismiss">
    <form autocomplete="off" class="form-horizontal">
      <div class="modal-header">
        <h3 class="modal-title">
          {{ itemIsEditable(editItem) ? 'Edit item: ' + editItem.name : 'Add new item' }}
        </h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group row">
          <label for="new_item_title" class="col-12 col-md-2">Items</label>
          <div class="col-12 col-md-8">
            <input id="new_item_title" type="text" name="title" title="Comma separated item titles" placeholder="Title"
                   class="primary-input" [(ngModel)]="editItem.name" required>
            <span class="help-text" *ngIf="!itemIsEditable(editItem)">Comma separated list of item titles</span>
          </div>
        </div>
        <hr>
        <div class="input-group row">
          <label class="col-12 col-md-2">For</label>
          <div class="form-check form-check-inline col-12 col-md-8">
            <label class="form-check-label" for="member_all">
              <input class="form-check-input" type="checkbox" id="member_all" value="{{ groupMembers }}"
                     (change)="$event.target.checked ? (editItem.members = groupMembers.slice(0)) : (editItem.members = [])"
                     [checked]="editItem.members.length === groupMembers.length">
              all
            </label>
            <label class="form-check-label" *ngFor="let member of group.members" for="member_{{ member._id }}">
              <input class="form-check-input" type="checkbox" id="member_{{ member._id }}" value="{{ member._id }}"
                     (change)="$event.target.checked
                     ? (editItem.members.push($event.target.value))
                     : (editItem.members.splice(editItem.members.indexOf(member._id), 1))"
                     [checked]="editItem.members.indexOf(member._id) >= 0">
              {{ member.firstname }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <div *ngIf="!editRequestRunning">
          <button type="submit" class="btn btn-outline-success" (click)="addOrUpdateItem(editItem)">Save</button>
          <button type="reset" class="btn btn-outline-default" (click)="c('Close click')">Close</button>
          <button type="button" class="btn btn-outline-danger btn-icon delete-item"
                  *ngIf="itemIsEditable(editItem)" (click)="deleteItem(editItem)"><i class="fa fa-trash"></i></button>
        </div>
        <div *ngIf="editRequestRunning">
          <app-spinner></app-spinner>
        </div>
      </div>
    </form>
  </template>
  <!-- BEGIN NEW ITEM MODAL -->

  <!-- BEGIN SELECTION CONTROL -->
  <div class="selection-control d-flex align-items-center justify-content-center" *ngIf="selectedItems.length > 0">
    <div class="info">
      <span class="number">{{ selectedItems.length | i18nPlural:itemsMapping }}</span>
      <span class="text">selected</span>
    </div>
    <div class="price">
      <input type="number" title="Price total" placeholder="0" [(ngModel)]="price"><span class="currency">€</span>
    </div>
    <div class="action">
      <button class="btn btn-outline-success" (click)="checkItems()" [disabled]="paymentRequestRunning">Check</button>
      <button class="btn btn-outline-default" (click)="resetSelection()">Cancel</button>
    </div>
  </div>
  <!-- END SELECTION CONTROL -->

  <div *ngIf="group">
    <div class="container">

      <!-- BEGIN HEADING -->
      <div class="heading">
        <span class="info" *ngIf="editMode">
          <span class="hidden-md-up">Tab</span><span class="hidden-sm-down">Click</span>
          an item to edit or delete it
        </span>
        <button class="btn btn-outline-default btn-icon" (click)="toogleEditMode()" [class.active]="editMode">
          <i class="fa fa-pencil"></i>
        </button>
        <h1>Items</h1>
        <button class="btn btn-outline-default btn-icon" (click)="showEditDialog(newItem)"><i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-outline-default btn-icon refresh-btn" title="refresh items" (click)="refreshItems()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <!-- END HEADING -->

      <!-- BEGIN LISTS -->
      <div class="row">
        <div class="col-12 col-md-4" *ngFor="let list of lists">
          <div class="list">
            <h2>{{ list.name }}</h2>
            <ul>
              <li *ngFor="let item of list.items" [class.selected]="itemIsSelected(item)" (click)="onItemClicked(item)"
                  tabindex="0" [class.disabled]="!itemIsSelectable(item)">
                <span class="name">{{ item.name }}</span>
                <span *ngIf="list.showMembers" class="members">
                  <span *ngIf="item.members.length > 1 && item.members.length === groupMembers.length">all</span>
                  <span *ngIf="item.members.length > 1 && item.members.length !== groupMembers.length">
                    <span class="badge" ngbTooltip="{{ item.members|join:'firstname' }}">
                      {{ item.members.length}}
                    </span>
                  </span>
                  <span *ngIf="item.members.length === 1">{{ item.members[0].firstname }}</span>
                </span>
              </li>
            </ul>
            <form (submit)="addItemToList(list)" autocomplete="off" *ngIf="list.newItem">
              <input type="text" name="title" title="Item title"
                     placeholder="Add {{ list.newItem.name | lowercase }} item"
                     [(ngModel)]="list.newItem.name" required>
              <button type="submit" class="btn btn-icon"><i class="fa fa-check"></i></button>
              <button type="reset" class="btn btn-icon"><i class="fa fa-close"></i></button>
            </form>
          </div>
        </div>
      </div>
      <!-- END LISTS -->

      <hr>

      <!-- BEGIN CHECKED ITEMS -->
      <div class="row checked-items">
        <div class="col-md-8 offset-md-2">
          <div class="list">
            <div class="heading">
              <h2>Checked items</h2>
              <button class="btn btn-outline-default btn-icon btn-icon-sm"
                      ngbTooltip="Show checked items" [class.rotated]="showChecked" (click)="toggleShowChecked()">
                <i class="fa fa-chevron-down"></i>
              </button>
              <span class="info" *ngIf="showChecked">
                <span class="hidden-md-up">Tab</span><span class="hidden-sm-down">Click</span>
                an item to go to the group's wallet
              </span>
            </div>
            <ul *ngIf="showChecked && checkedItems">
              <li *ngFor="let item of checkedItems" tabindex="0" (click)="onCheckedItemClicked(item)">
                <span class="name">{{ item.name }}</span>
                <span class="members">
                  <span *ngIf="item.members.length > 1 && item.members.length === groupMembers.length">all</span>
                  <span *ngIf="item.members.length > 1 && item.members.length !== groupMembers.length">
                    <span class="badge" ngbTooltip="{{ item.members|join:'firstname' }}">
                      {{ item.members.length}}
                    </span>
                  </span>
                  <span *ngIf="item.members.length === 1">{{ item.members[0].firstname }}</span>
                  <button class="btn btn-icon btn-icon-sm btn-outline-default" title="archive item"
                    (click)="archiveItem(item, $event)">
                    <i class="fa fa-close"></i>
                  </button>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END CHECKED ITEMS -->

    </div>
  </div>

</section>

