doctype html
html

  head
    block head
      meta(charset='utf-8')
      title= title
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
      link(href="https://fonts.googleapis.com/css?family=Montserrat:200, 300,400,700" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
      link(rel='stylesheet' type='text/css' href='/css/bootstrap_custom.css')
      link(rel='stylesheet' type='text/css' href='/css/main.css')
      meta(name="theme-color" content="#282828")
  body
    block body

    block js
