extends base.pug

block body
  div.container.login-container
    form(method='post')
      h1= title

      if error
        div.error=error

      div.form-group
        label(for='firstname') Firstname
        input.form-control(type='text' id='firstname' name='firstname' placeholder='Enter your firstname' required autofocus)

      div.form-group
        label(for='lastname') Lastname
        input.form-control(type='text' id='lastname' name='lastname' placeholder='Enter your lastname' required)

      div.form-group
        label(for='email') Email
        input.form-control(type='email' id='email' name='email' placeholder='Enter your email' required)

      button.btn(type='submit') Signup

      a.link-default(href='/') Login page
