extends base

block body
  div.container.container-default
    h1= title
    p
      i.fa.fa-check-circle-o.icon-lg.success
    br

    p Your account has been successfully created.
    p You will soon receive an email to confirm your account.
    p If you did not receive an email, please contact the administrator.

    br
    p
      a.link-default(href='/') Go to login page
