extends base

block body
  div.container.container-default
    h1= title
    p
      i.fa.fa-check-circle-o.icon-lg.success
    br
    p Your account has been successfully activated.
    br
    p
      a.link-default(href="/") Go to login page
