extends base

block body

  if expired
    div.container.container-default
      h1= title
      p This token does not exist or has expired.
      br
      p
        a.link-default(href="/signup") Go to signup page
  else
    div.container.login-container
      h1=title
      form(method='post')

        if error
          p.error= error
        div.form-group
          label(for='password') Password
          input.form-control(type='password' id='password' name='password' placeholder='Enter your password' required autofocus)

        div.form-group
          label(for='passwordCheck') Password check
          input.form-control(type='password' id='passwordCheck' name='passwordCheck' placeholder='Re-type your password' required)

        button.btn(type='submit') Activate my account
