<section class="header container">
  <span class="title hidden-sm-down"><span>vlad</span><span>mate</span></span>
  <app-menu></app-menu>
  <app-account-menu></app-account-menu>
</section>

<router-outlet></router-outlet>

<footer></footer>
