.account {
  text-align: center;

  p {
    color: lighten($body-bg, $color-shift-medium);
    margin-bottom: 3px;
    &:first-of-type {
      color: lighten($body-bg, $color-shift-intense);
      font-weight: 600;
    }
  }

  button {
    margin-top: 20px  ;
  }
}
