.container-default {
  h1 {
    margin: 40px 0 40px 0;
  }

  p {
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
    color: lighten($body-bg, $color-shift-intense);
  }

  .icon-lg {
    font-size: 2rem;
  }

  .success {
    color: $brand-success;
  }

  .error {
    color: $brand-danger;
  }
}
