.invite-form {
  text-align: center;

  input {
    width: 280px;

    &.ng-valid + button{
      opacity: 1;
      border-color: $color-blue;
      color: $color-blue;
      &:hover{
        color: white;
        border-color: white;
      }
    }
  }

  label {
    margin-top: 5px !important;
  }

  button {
    margin: 10px;

  }

  @include media-breakpoint-up(md) {
    button {
      margin-right: -80px
    }
    input {
      width: 320px;
    }
  }
}

.group-form {

  input[type='file'] {
    opacity: 0.8;
  }
}
