$login-form-max-width: 300px;
$login-input-height: $input-height-default;
$login-input-bg: lighten($body-bg, $color-shift-default);
$login-input-highlight: $color-blue;
$login-input-focus-bg: darken($body-bg, 5%);

.login-container {

  h1 {
    margin: 40px 0 40px 0;
  }

  .error{
    max-width: $login-form-max-width;
    margin: 20px auto;
    padding: 10px;
    background-color: $brand-danger;
    color: lighten($brand-danger, $color-shift-medium);
    text-align: center;
  }

  form {
    display: block;
    max-width: $login-form-max-width;
    margin: 0 auto;
  }

  label {
    padding-left: $input-height-default/2;
  }

  button[type=submit] {
    height: $login-input-height;
    padding: 0;
    text-align: center;
    line-height: $login-input-height;
    display: block;
    width: 100%;
    border-radius: $login-input-height/2;
    margin-top: $login-input-height;
    background-color: $brand-success;
    color: white;
    &[disabled]{
      background-color: $login-input-bg;
      color: $color-text-default;
      cursor: default;
    }
  }

  input {
    background-color: $login-input-bg;
    border-radius: 4px;
    padding: 0 $login-input-height/2;
    line-height: $login-input-height;
    height: $login-input-height;
    border: 3px solid $login-input-bg;
    color: $color-text-default;
    text-align: center;
    @include transition(all 0.1s $transition-ease);
    &:hover, &:focus {
      border-color: $login-input-highlight;
    }
    &:focus {
      border-color: lighten($login-input-highlight, $color-shift-default) !important;
      background-color: $login-input-focus-bg !important;
      outline: none;
      color: white;
    }
    &.ng-touched.ng-invalid {
      border-color: $brand-danger;
      background: none;
    }
    &.ng-touched.ng-valid {
      border-color: $login-input-highlight;
      background: none;
    }
  }

  a.link-default{
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}
