.refresh-btn {
  position: absolute;
  right: 0;
}

.checked-items {
  .heading {
    margin-top: 0;
    .info {
      top: calc(100% - 10px);
    }
    h2 {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  li {
    button {
      opacity: 0;
      position: relative;
      margin-left: - $btn-icon-sm-size;
      margin-bottom: 2px;
      &:hover{
        color: $brand-danger;
        border-color: $brand-danger;
      }
    }
    &:hover {
      button {
        opacity: 1;
        margin-left: 5px;
      }
    }
  }
}

hr {
  border-color: lighten($body-bg, $color-shift-default);
  margin: $space-default 0;
}
