$balance-size: 120px;

.balance {
  margin-bottom: 15px;
  .member-icon {
    .value {
      white-space: nowrap;
      position: absolute;
      bottom: -50px;
      left: -10px;
      width: calc(100% + 20px);
      font-size: 0.9rem;
      text-align: center;

      &.positive {
        color: $brand-success;
      }
      &.negative {
        color: $brand-danger;
      }
    }
  }
}

.quick-payment-form {
  .date {
    margin: 0 0 0px 30px;

    input {
      margin-right: 5px;
    }
  }

  input[name='title'], input[name='date'] {
    height: 60px;
    border: 0;
    color: $brand-success;
    display: inline-block;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    font-family: $font-family-montserrat;
    font-weight: 300;
    background-color: darken($color-blue-bg, 2%);
    @include transition(all 0.2s $transition-default);
    &:hover {
      background-color: darken($color-blue-bg, 5%);
    }
    &:focus {
      background-color: darken($color-blue-bg, $color-shift-default);
      outline: none;
    }
  }
}

.wallet-container {
  .list {
    li {
      padding: 5px 40px 5px 10px !important;
      @include clearfix();
      .date {
        float: left;
        display: block;
        width: 30px;
        font-family: $font-family-montserrat;
        text-align: center;
        .month {
          display: block;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 0.7rem;
        }
        .day {
          display: block;
          font-weight: 500;
          line-height: 0.8rem;
        }
      }
      .amount {
        display: block;
        float: left;
        font-size: 1.3rem;
        width: 90px;
        font-family: $font-family-montserrat;
        font-weight: 300;
        text-align: center;
      }
      .creator {
        display: block;
        float: left;
      }
      .title {
        float: left;
        display: block;
        opacity: 0.8;
        margin-left: 10px;
      }

    }
  }
}
