$badge-size: 18px;

.badge {
  width: $badge-size;
  height: $badge-size;
  line-height: $badge-size;
  padding: 0;
  display: block;
  text-align: center;
  border-radius: $badge-size/2;
  font-size: 0.8rem;
  font-weight: 600;

  &-count {
    position: absolute;
    top: -$badge-size/3;
    right: -$badge-size/3;
    z-index: $z-index-badge-count;
  }

  &-success {
    background-color: darken($brand-success, $color-shift-default);
  }

  &-info {
    background-color: $color-blue;
  }

}
