$btn-icon-size: 30px;
$btn-icon-sm-size: 25px;
$btn-outline-width: 2px;
$btn-default-height: 30px;
$btn-border-width: 2px;
$btn-font-size: 0.9rem;



.btn {
  cursor: pointer;
  min-height: $btn-default-height;
  border-radius: $btn-default-height;
  padding: 0 $space-default/2;
  text-align: center;
  line-height: $btn-default-height;
  border-width: $btn-border-width;
  text-transform: uppercase;
  font-size: $btn-font-size;

  &:focus {
    outline: none;
  }

  &-outline{
    &-default {
      border: $btn-outline-width solid $color-text-default;
      color: $color-text-default;
      background: none;
      opacity: 0.3;
      &:hover, &:focus {
        opacity: 1.0;
        outline: none;
      }
      &:active {
        opacity: 0.8;
      }
      &.active {
        border-color: $brand-success;
        background-color: $brand-success;
        color: white;
        opacity: 1;
      }
    }
  }

  &-icon {
    min-height: 0;
    width: $btn-icon-size;
    height: $btn-icon-size;
    border-radius: $btn-icon-size /2;
    font-size: 1rem;
    padding: 0;
    @include transition(all $transition-speed-default $transition-default);
    i {
      display: block;
    }
    &.rotated {
      @include rotate(-180);
    }
    &-sm {
      width: $btn-icon-sm-size;
      height: $btn-icon-sm-size;
      border-radius: $btn-icon-sm-size /2;
      font-size: 0.8rem;
      i {
        line-height: $btn-icon-sm-size - 5px;
      }
    }
  }
}
