$text-input-bg: lighten($body-bg, $color-shift-default);
$text-input-height: $input-height-default;
$text-input-highlight: $color-blue;;
$text-input-focus-bg: darken($body-bg, 5%);

form {

  .input-group {
    > label {
      display: block;
      color: lighten($body-bg, $color-shift-intense);
      text-transform: uppercase;
      font-size: 0.9rem;
    }
  }

  hr {
    border-color: lighten($body-bg, $color-shift-default);
  }

  input {
    font-family: $font-family-base;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $body-bg inset;
      -webkit-text-fill-color: $color-text-default !important;
    }
  }

  input.primary-input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 3px solid lighten($body-bg, $color-shift-default);
    text-align: center;
    padding: 20px;
    color: $color-blue;
    font-size: 1.3rem;
    &:focus {
      border-color: $color-blue;
      outline: none;
    }
  }

  .form-check-inline {
    display: block;
    text-align: center;
    margin: 0;
    margin: 0 -10px;
    label {
      min-width: 65px;
      position: relative;
      padding: 0 10px 20px 10px;
      display: inline-block;
      color: lighten($body-bg, $color-shift-medium);
      input[type='checkbox'] {
        position: absolute;
        top: 30px;
        left: calc(50% - 6px);
        margin: 0;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: red;
        }
      }
    }
  }

  &.form-horizontal {
    .input-group {
      &:not(:last-child) {
        padding-bottom: $space-default/2;
      }
      &:not(:first-child) {
        padding-top: $space-default/2;
      }
    }

    label {
      margin: 0;
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
      }
    }
  }

  .help-text {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 0.8rem;
    color: lighten($body-bg, $color-shift-medium);
  }

  .default-input {
    text-align: center;
    input[type='text'], input[type='number'], input[type='password'], input[type='email'] {
      background-color: $text-input-bg;
      border-radius: 4px;
      padding: 0 $text-input-height/2;
      line-height: $text-input-height;
      height: $text-input-height;
      border: 3px solid $text-input-bg;
      color: $color-text-default;
      text-align: center;
      @include transition(all 0.1s $transition-ease);
      &:hover, &:focus {
        border-color: $text-input-highlight;
      }
      &:focus {
        border-color: lighten($text-input-highlight, $color-shift-default) !important;
        background-color: $text-input-focus-bg !important;
        outline: none;
        color: white;
      }
    }
  }

}
