$group-control-width: 30px;
$group-control-border-width: 3px;

$group-container-bg: $color-grey-darker;

$group-size: 80px;
$group-spacing: 20px;
$group-border-distance: 10px;

.group {
  &-container {
    background-color: $group-container-bg;
    @include transition(all $transition-speed-medium $transition-cubic);
    > :first-child {
      padding-top: $group-spacing;
      min-height: $group-size + $group-spacing *2;
    }
  }
  &-control {
    top: $group-spacing + $group-size /2 - $group-control-width /2;
    position: absolute;
    &.right {
      right: $grid-gutter-width-base /2;
    }
    &.left {
      left: $grid-gutter-width-base /2;
    }
    button {
      width: $group-control-width;
      height: $group-control-width;
      border-radius: $group-control-width /2;
    }
  }
  &-wrapper {
    margin-left: $group-control-width;
    margin-right: $group-control-width - $group-spacing;
  }
  // singe group
  width: $group-size;
  height: $group-size;
  border-radius: $group-size/2;
  margin-bottom: $group-spacing;
  margin-right: $group-spacing;
  cursor: pointer;
  border: 10px solid $group-container-bg;
  opacity: 0.5;
  position: relative;
  @include no-select();
  @include transition(opacity $transition-speed-medium $transition-cubic);
  @include transition(border $transition-speed-medium $transition-cubic-extreme 0.3s);
  @include background-image-cover();
  &:before {
    content: '';
    position: absolute;
    top: -$group-border-distance;
    left: -$group-border-distance;
    width: calc(100% + #{$group-border-distance*2});
    height: calc(100% + #{$group-border-distance*2});;
    border-radius: $group-size/2 + $group-border-distance;
    border: 3px solid lighten($color-grey-dark, $color-shift-default);
    @include transition(all 0.3s $transition-cubic);
  }
  &:hover{
    opacity: 1;
    border-width: 10px;
    &:before {
      border-color: lighten($color-grey-dark, 20%);
    }
  }
  &:focus {
    outline: none;
    opacity: 1;
    &:before {
      border-color: $brand-info;
    }
  }
  &.selected{
    border-width: 0;
    border-radius: $group-size/2;
    @include transition(border $transition-speed-medium $transition-cubic-extreme);
    &:before {
      top: -$group-border-distance /2;
      left: -$group-border-distance /2;
      width: calc(100% + #{$group-border-distance});
      height: calc(100% + #{$group-border-distance});;
      border-radius: $group-size/2 + $group-border-distance;
      border-width: 3px;
      border-color: $color-blue;
    }
    opacity: 1;
  }

  // Group info bar
  &-info {
    font-size: 0.9rem;
    .container {
      padding: $group-spacing /2;
      border-top: 1px solid $color-grey-dark;
      text-align: center;
      .name{
        margin-right: $group-spacing;
        color: white;
      }
      .members {
        margin-right: $group-spacing;
        display: inline-block;
        color: darken($color-text-default, $color-shift-medium);
        & > :not(:last-child){
          margin-right: 5px;
        }
      }
      button {
        width: 25px;
        height: 25px;
        border-radius: 12.5px;
        font-size: 0.8rem;
      }
    }
  }
}
