$header-height: 50px;
$title-font-size: 15px;

.header {
  height: $header-height;
  position: relative;

  .title {
    position: absolute;
    padding: ($header-height - $title-font-size)/2 0;
    font-family: $font-family-montserrat;
    font-size: $title-font-size;
    text-transform: uppercase;
    opacity: 0.5;
    padding: $space-default/2;
    @include transition(all 0.2s $transition-default);

    span {
      overflow: hidden;
      display: inline-block;
      @include transition(all 0.3s $transition-cubic-extreme);
      &:nth-of-type(1) {
        width: 11px;
        font-weight: 600;
        color: $color-blue;

        margin-right: 2px;
      }
      &:nth-of-type(2) {
        width: 14px;
        font-weight: 600;
        color: lighten($body-bg, $color-shift-medium);
      }
    }

    &:hover {
      opacity: 1;
      span {
        width: 45px;
        &:nth-of-type(2) {
          color: white;
        }
      }
    }
  }
}
