.invitations {

  &-popover {

  }

  p {
    display: block;
    text-align: center;
    color: $color-text-default;
    font-size: 0.8rem;
    margin: 0;
    padding: 10px;
  }

  ul {
    display: block;
    margin: 0 auto;
    list-style-type: none;
    padding: 10px;
    max-width: 300px;
  }

  li {
    display: table;
    width: 100%;
    white-space: nowrap;

    &:not(:first-of-type) {
      padding-top: 5px;
    }
    &:not(:last-of-type) {
      padding-bottom: 5px;
      border-bottom: 1px solid lighten($body-bg, 5px);
    }
  }

  .name {
    display: table-cell;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0;
  }

  .action {
    display: table-cell;
    text-align: right;
    .btn {
      margin-left: 3px;
      width: 25px;
      height: 25px;
      line-height: 20px;
      font-size: 0.8rem;
    }
    button.btn-accept {
      &:hover {
        border-color: $brand-success;
        color: $brand-success;
      }
    }
    button.btn-reject {
      &:hover {
        border-color: $brand-danger;
        color: $brand-danger;
      }
    }
  }
}
