$list-item-bg-color: lighten($color-grey-dark, $color-shift-default);
$list-item-height: 30px;
$list-spacing: 4px;
$list-item-border-width: 3px;
$list-item-padding: 10px;

$item-border-radius: 5px;

$members-badge-size: 20px;

$selection-control-color: lighten($color-blue-bg, $color-shift-intense);
$selection-control-height: $group-size + $group-spacing *2;

.list-container {

  .selection-control {
    position: absolute;
    top: $header-height;
    left: 0;
    .action {
      width:200px;
    }
    @include media-breakpoint-down(sm) {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
      flex-wrap: wrap;
      padding: 10px 0;
    }
  }
  .selection-control, .quick-payment-form {
    height: $group-size + $group-spacing *2;
    background-color: $color-blue-bg;
    opacity: 1;
    width: 100%;
    .info {
      color: $selection-control-color;
      width: 200px;
      text-align: right;
      .number {

      }
      .text {
        font-weight: 300;
      }
    }
    .price {
      text-align: center;
      margin: 0 30px;
      font-size: 2rem;
      line-height: 60px;
      font-weight: 300;
      font-family: $font-family-montserrat;
      position: relative;
      input {
        padding: 0 20px 0 0;
        height: 60px;
        border: 0;
        color: $brand-success;
        display: inline-block;
        width: 150px;
        border-radius: 3px;
        text-align: center;
        font-family: $font-family-montserrat;
        font-weight: 300;
        background-color: darken($color-blue-bg, 2%);
        @include transition(all 0.2s $transition-default);
        &:hover {
          background-color: darken($color-blue-bg, 5%);
        }
        &:focus {
          background-color: darken($color-blue-bg, $color-shift-default);
          outline: none;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }
      .currency {
        position: absolute;
        top: 0;
        right: 15px;
        color: lighten($color-blue-bg, $color-shift-default);
      }
    }
    .action {
      text-align: left;
      button {
        margin: 5px 0;
      }
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      padding: 20px 0;
      > * {
        width: 100%;
        text-align: center !important;
        margin: 10px;
      }
      .price {
        input {
          margin-left: 30px;
          padding: 0 !important;
        }
        .currency {
          position: static;
          margin-left: 5px;
          width: 30px;
        }
      }
      height: auto;
    }
  }

  .heading {
    margin: 40px 0 50px 0;
    text-align: center;
    position: relative;
    h1 {
      position: relative;
      top: 3px;
      display: inline-block;
      margin: 0 20px;
      line-height: $btn-icon-size;
    }
    .info {
      position: absolute;
      top: calc(100% + 10px);
      display: block;
      width: 100%;
      text-align: center;
      font-size: 0.9rem;
      color: lighten($body-bg, $color-shift-medium);
    }
  }
  h2 {
    margin-bottom: 30px;
  }

  .list {
    margin-bottom: $space-default;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    // ITEM
    li {
      background-color: $list-item-bg-color;
      border-radius: $item-border-radius;
      cursor: pointer;
      padding: 0 $members-badge-size + $list-item-padding*2 0 $list-item-padding;
      min-height: $list-item-height;
      width: 100%;
      position: relative;
      @include no-select();
      @include transition(all 0.1s $transition-default);
      &:not(:last-child) {
        margin-bottom: $list-spacing;
      }
      &:hover, &:focus {
        background-color: lighten($list-item-bg-color, $color-shift-default);
        outline: none;
        .members {
          color: lighten($list-item-bg-color, $color-shift-medium);
        }
      }
      &.selected {
        color: white;
        background-color: $brand-success;
        .members {
          .badge {
            color: $brand-success;
          }
        }
      }
      &.disabled {
        opacity: 0.3;
        cursor: default;
      }
      .name {
        display: block;
        position: relative;
        top: 7px;
        line-height: 1.1rem;
        word-wrap: break-word;
        padding-bottom: 12px;
      }
      .members {
        position: absolute;
        top: 0;
        right: $list-item-padding;
        height: $list-item-height;
        line-height: $list-item-height;
        text-align: right;
        color: lighten($list-item-bg-color, $color-shift-default);
        .badge {
          background-color: darken($list-item-bg-color, $color-shift-default);
          display: inline-block;
          height: $members-badge-size;
          width: $members-badge-size;
          text-align: center;
          line-height: $members-badge-size;
          border-radius: $members-badge-size/2;
          font-weight: 600;
          font-size: 0.8rem;
        }
        /*
        @include media-breakpoint-down(md) {
          display: none;
        }
        */
      }
    }

    // ADD INLINE FORM
    form {
      position: relative;
      margin-top: $list-spacing;
      input[type=text] {
        width: 100%;
        display: block;
        height: $list-item-height;
        border-radius: 5px;
        border: $list-item-border-width solid $list-item-bg-color;
        background: none;
        color: $color-text-default;
        padding: 4px 6px;
        opacity: 0.5;
        @include transition(all $transition-speed-default $transition-default);
        ~ button {
          display: none;
          position: absolute;
          height: $list-item-height;
          width: $list-item-height;
          top: 0;
          border: none;
          border-radius: $list-item-height;
          color: white;
          background: none;
          &:nth-last-of-type(1) {
            right: $list-item-border-width;
          }
          &:nth-last-of-type(2) {
            right: $list-item-height;
          }
        }
        &:hover, &:focus {
          opacity: 1;
        }
        &:focus {
          padding-right: $list-item-height*2;
          border-radius: 0;
          outline: none;
          border-color: lighten($list-item-bg-color, $color-shift-medium);
          ~ button {
            padding: 0;
            display: block;
            &:nth-last-of-type(1) {
              &:hover {
                color: $brand-danger;
              }
            }
            &:nth-last-of-type(2) {
              &:hover {
                color: $brand-success;
              }
            }
          }
        }
      }
    }
  }
}
