.member-icon {

  &-wrapper {
    text-align: center;
  }

  display: inline-block;
  width: $member-icon-size-md;
  height: $member-icon-size-md;
  background-image: url('/img/user_icon.png');
  background-color: darken($body-bg, 5%);
  border: 2px solid lighten($body-bg, 3%);
  border-radius: $member-icon-size-md;
  position: relative;
  margin-bottom: $member-icon-name-space + $member-icon-name-height + $member-icon-space;
  margin-left: $member-icon-space/2;
  margin-right: $member-icon-space/2;
  @include background-image-cover();

  .name {
    position: absolute;
    bottom: - $member-icon-name-space - $member-icon-name-height;
    left: -$member-icon-space/2;
    width: calc(100% + #{$member-icon-space});
    text-align: center;
    font-size: 0.9rem;
    color: lighten($body-bg, $color-shift-medium);
  }

  &-sm {
    width: $member-icon-size-sm;
    height: $member-icon-size-sm;
    margin-left: $member-icon-space /1.5;
    margin-right: $member-icon-space /1.5;

    @include media-breakpoint-down(sm) {
      width: $member-icon-size-sm;
      height: $member-icon-size-sm;
      .name {
        font-size: 0.8rem;
      }
    }
  }

  &-xs {
    width: $member-icon-size-xs;
    height: $member-icon-size-xs;
    margin: 0;
    display: inline-block;
  }
}
