$btn-padding-leftright: $space-default *2;
$btn-padding-topbottom: $space-default/2;

.modal {
  &-open {
    overflow-Y: scroll;
  }
  &-dialog {
    max-width: 700px;
  }
  &-content {
    border-radius: 0;
  }
  &-header {
    background-color: lighten($color-grey-dark, $color-shift-default);
    padding: $btn-padding-topbottom;
    .close{
      span{
        display: block;
        text-shadow: none;
        color: darken($color-text-default, $color-shift-default);
        font-weight: 200;
        font-size: 50px;
        line-height: 30px;
        font-family: $font-family-montserrat;
      }
    }
  }
  &-title {

  }
  &-body {
    padding: $space-default*2;
    @include media-breakpoint-down(md) {
      padding: $btn-padding-topbottom $btn-padding-topbottom*1.5;
    }
    @include media-breakpoint-down(sm) {
      padding: $btn-padding-topbottom;
    }
  }
  &-footer {

    button {
      &:not(:first-child) {
        margin-left: 5px;
      }
    }

    .delete-item {
      position: absolute;
      right: $btn-padding-topbottom;
      bottom: $btn-padding-topbottom;
      border-color: $btn-default-color;
      color: $btn-default-color;
      &:hover, &:focus {
        border-color: $brand-danger;
      }
    }
  }
}
