$nav-item-padding-leftright: 20px;
$nav-item-padding-topbottm: 0;
$nav-font-size: 0.9rem;

$nav-item-underline-width: 3px;

nav{
  width: 100%;
  height: 100%;
  ul {
    text-align: center;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      text-transform: uppercase;
      height: 100%;
      a{
        line-height: $header-height;
        display: inline-block;
        height: 100%;
        padding: $nav-item-padding-topbottm $nav-item-padding-leftright;
        font-family: $font-family-heading;
        font-size: $nav-font-size;
        font-weight: 300;
        &:link, &:visited {
          color: darken($color-text-default, $color-shift-default);
        }
        &:hover, &:focus {
          color: $color-text-default;
          text-decoration: none;
        }
        &:active{
          color: darken($color-text-default, $color-shift-medium);
        }
        // nav item selected
        &.active {
          color: $color-text-default;
          font-weight: 400;
        }
      }
    }
  }
}

.nav-item {
  position: relative;
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: $nav-item-underline-width;
    border-radius: $nav-item-underline-width;
    width: 0;
    background-color: lighten($color-grey-dark, $color-shift-default);
    @include transition(all $transition-speed-medium $transition-cubic);
  }
  &:hover, &:active, &:focus, &.active{
    &:before{
      width: 100%;
      left: 0;
    }
  }
}
