$popover-distance: 10px;
$popover-bg-default: lighten($body-bg, $color-shift-default);

.popover {
  position: absolute;
  right: calc(100% + #{$popover-distance});
  top: -20px;
  min-width: 200px;
  background-color: lighten($body-bg, $color-shift-default);
  min-height: 100px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: $z-index-popover;
  @include transition(all 0.2s $transition-cubic);

  .spinner {
    margin-top: 10px;
    > div {
      background-color: lighten($popover-bg-default, $color-shift-default);
    }

  }

  h3 {
    display: block;
    text-align: center;
    background-color: $color-text-default;
    color: $body-bg;
    padding: 10px;
    margin: 0;
  }

  &.open {
    visibility: visible;
    opacity: 1;
    min-width: 300px;
    top: 0;
  }
}
