$toastr-pading: $space-default/2;

#toast-container {
  > div {
    @include box-shadow-none();
    &:hover{
      @include box-shadow-none();
    }
  }

  .toast {
    background-image: none !important;
    padding: $toastr-pading $toastr-pading*2.5 $toastr-pading $toastr-pading;
    &-title {
      font-family: $font-family-heading;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 400;
    }
    &-message{
      opacity: 0.8;
    }
    &-success {
      background-color: $brand-success;
    }
    &-warning {
      background-color: $brand-warning;
    }
    &-info {
      background-color: $brand-info;
    }
    &-error {
      background-color: $brand-danger;
    }
    &-close-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: $toastr-pading;
      display: block;
      font-family: $font-family-montserrat;
      font-size: 50px;
      line-height: 20px;
      font-weight: 300;
      text-shadow: none;
      opacity: 0.5;
      &:hover{
        opacity: 1;
        color: white;
      }
    }
  }
}
