$heading-underline-gap: 5px;

h1{
  display: block;
  text-align: center;
  font-family: $font-family-heading;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
}

h2{
  font-family: $font-family-heading;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  color: darken($color-text-default, $color-shift-default);
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + #{$heading-underline-gap});
    height: 3px;
    width: 30px;
    background-color: lighten($color-grey-dark, $color-shift-default);
  }
}

h3 {
  font-family: $font-family-heading;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  color: darken($color-text-default, $color-shift-default);
}

a {
  &.link-default{
    &:link, &:visited {
      color: $color-blue !important;
      font-weight: 300;
      font-size: 1.2rem;
    }
    &:hover, &:focus {
      text-decoration: none;
      color: lighten($color-blue, $color-shift-default);
    }
  }
}
