// ************* TRANSITIONS ************* //

$transition-ease: ease-in-out;
$transition-cubic: cubic-bezier(.69,.01,.23,.99);
$transition-cubic-extreme: cubic-bezier(0.680, -0.550, 0.265, 1.550);
$transition-default: $transition-ease;

$transition-speed-fast: 0.1s;
$transition-speed-medium: 0.2s;
$transition-speed-default: $transition-speed-fast;

// ************* BUTTON ************* //
$input-btn-border-width: 2px;
$btn-transition: all .1s ease-in-out !default;
$btn-default-color: $color-text-default;

// ************* FORMS ************* //
$input-height-default: 40px;

// ************* Z-INDEX ************* //
$z-index-popover: 10;
$z-index-badge-count: 10;

// ************* MEMBERS ************* //
$member-icon-size-md: 60px;
$member-icon-size-sm: 40px;
$member-icon-size-xs: 30px;
$member-icon-name-space: 10px;
$member-icon-name-height: 20px;
$member-icon-space: 20px;
