<app-groups [parentRoute]="'/wallet'"></app-groups>

<section class="list-container wallet-container">
  <!-- BEGIN NEW PAYMENT MODAL -->
  <template #paymentModal let-c="close" let-d="dismiss">
    <form autocomplete="off" class="form-horizontal">
      <div class="modal-header">
        <h3 class="modal-title" *ngIf="paymentIsEditable(editPayment) && editPayment.title">
          Edit payment: {{ editPayment.title }}
        </h3>
        <h3 class="modal-title" *ngIf="paymentIsEditable(editPayment) && !editPayment.title">
          Edit payment
        </h3>
        <h3 class="modal-title" *ngIf="!paymentIsEditable(editPayment)">
          Add payment
        </h3>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group row default-input">
          <label for="payment_title" class="col-12 col-md-2">Title</label>
          <div class="col-12 col-md-8" >
            <input id="payment_title" type="text" name="title" title="Payment title" placeholder="Title"
                   [(ngModel)]="editPayment.title">
          </div>
        </div>
        <hr>
        <div class="input-group row default-input">
          <label for="payment_date" class="col-12 col-md-2">Date</label>
          <div class="col-12 col-md-8" >
            <input id="payment_date" type="text" title="Date" name="date" placeholder="today" [ngModel]="editPayment.date | datepicker" (ngModelChange)="editPayment.date=$event" ngbDatepicker #d="ngbDatepicker">
            <span class="input-group-btn">
              <button type="button" class="btn btn-outline-default btn-icon" (click)="d.toggle()"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
        <hr>
        <div class="input-group row default-input">
          <label for="payment_amount" class="col-12 col-md-2">Amount</label>
          <div class="col-12 col-md-8" >
            <input id="payment_amount" type="number" title="Amount" name="amount" placeholder="0" [(ngModel)]="editPayment.amount">
          </div>
        </div>
        <hr *ngIf="!paymentIsEditable(editPayment)">
        <div class="input-group row" *ngIf="!paymentIsEditable(editPayment)">
          <label class="col-12 col-md-2">For</label>
          <div class="form-check form-check-inline col-12 col-md-8">
            <label class="form-check-label" for="member_all">
              <input class="form-check-input" type="checkbox" id="member_all" value="{{ groupMembers }}"
                     (change)="$event.target.checked ? (editPayment.members = groupMembers.slice(0)) : (editPayment.members = [])"
                     [checked]="editPayment.members.length === groupMembers.length">
              all
            </label>
            <label class="form-check-label" *ngFor="let member of group.members" for="member_{{ member._id }}">
              <input class="form-check-input" type="checkbox" id="member_{{ member._id }}" value="{{ member._id }}"
                     (change)="$event.target.checked
                ? (editPayment.members.push($event.target.value))
                : (editPayment.members.splice(editPayment.members.indexOf(member._id), 1))"
                     [checked]="editPayment.members.indexOf(member._id) >= 0">
              {{ member.firstname }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <div *ngIf="!editRequestRunning">
          <button type="submit" class="btn btn-outline-success" (click)="addOrUpdatePayment(editPayment)">Save</button>
          <button type="reset" class="btn btn-outline-default" (click)="c('Close click')">Close</button>
          <button type="button" class="btn btn-outline-danger btn-icon delete-item"
                  *ngIf="paymentIsEditable(editPayment)" (click)="deletePayment(editPayment)"><i class="fa fa-trash"></i></button>
        </div>
        <div *ngIf="editRequestRunning">
          <app-spinner></app-spinner>
        </div>
      </div>
    </form>
  </template>
  <!-- END NEW PAYMENT MODAL -->

  <div *ngIf="group">
    <!-- BEGIN QUICK PAYMENT FORM -->
    <div class="quick-payment-form d-flex align-items-center justify-content-center hidden-sm-down">
      <div class="title">
        <input type="text" title="Title" name="title" placeholder="Title" [(ngModel)]="newPayment.title" required>
      </div>
      <div class="date">
        <input type="text" title="Date" name="date" placeholder="today" [ngModel]="newPayment.date | datepicker" (ngModelChange)="newPayment.date=$event" ngbDatepicker #d="ngbDatepicker">
        <span class="input-group-btn">
          <button type="button" class="btn btn-outline-default btn-icon" (click)="d.toggle()"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
      <div class="price">
        <input type="number" title="Price total" name="price" placeholder="0" [(ngModel)]="newPayment.amount" required><span class="currency">€</span>
      </div>
      <div class="action">
        <button class="btn btn-outline-success" (click)="addOrUpdatePayment(newPayment)">Add</button>
      </div>
    </div>
    <!-- END QUICK PAYMENT FORM -->

    <div class="container">
      <!-- BEGIN HEADING -->
      <div class="heading">
        <h1>Payments</h1>
        <button class="btn btn-outline-default btn-icon" (click)="showEditDialog(newPayment)"><i class="fa fa-plus"></i></button>
        <button class="btn btn-outline-default btn-icon refresh-btn" title="Refresh payments" (click)="refreshPayments()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <!-- END HEADING -->

      <!-- BEGIN BALANCES -->
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div *ngFor="let b of balances" class="balance">
          <div class="member-icon member-icon-md" ngbTooltip="{{ b.user.firstname }} {{ b.user.lastname }}">
            <span class="name">{{ b.user.firstname }}</span>
            <span class="value" [ngClass]="{'positive': b.balance >= 0, 'negative': b.balance < 0 }">{{ b.balance }} <span class="currency">€</span></span>
          </div>
        </div>
      </div>
      <!-- END BALANCES -->

      <!-- BEGIN LISTS -->
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="list" id="list-payments">
            <ul>
              <li *ngFor="let payment of payments" (click)="onPaymentClick(payment)">
                <span class="date">
                  <span class="month">{{ payment.date | date: 'MMM' }}</span>
                  <span class="day">{{ payment.date | date: 'd' }}</span>
                </span>
                <span class="amount">{{ payment.amount | currency:'EUR':true }} <span class="currency"></span></span>
                <span class="creator" title="{{ payment.creator.firstname }} {{ payment.creator.lastname }}">
                  {{ payment.creator.firstname }} {{ payment.creator.lastname.substring(0, 1).toLocaleUpperCase() }}.
                </span>
                <span class="title">{{ getPaymentTitle(payment) }}</span>
                <span class="members">
                  <span *ngIf="payment.items[0].members.length > 1 && payment.items[0].members.length === groupMembers.length">common</span>
                  <span *ngIf="payment.items[0].members.length > 1 && payment.items[0].members.length !== groupMembers.length">
                    <span class="badge" ngbTooltip="{{ payment.items[0].members|join:'firstname' }}">
                      {{ payment.items[0].members.length}}
                    </span>
                  </span>
                  <span *ngIf="payment.items[0].members.length === 1">{{ payment.items[0].members[0].firstname }}</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END LISTS -->
    </div>
  </div>
</section>
