<section class="group-container">
  <!-- BEGIN NEW GROUP MODAL -->
  <template #groupModal let-c="close" let-d="dismiss">
    <form autocomplete="off" class="form-horizontal group-form">
      <div class="modal-header">
        <h3 class="modal-title">
          {{ groupIsEditable(editGroup) ? 'Edit group: ' + editGroup.name : 'Add new group' }}
        </h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group row">
          <label for="new_group_name" class="col-12 col-md-2">Name</label>
          <div class="col-12 col-md-8">
            <input id="new_group_name" type="text" name="name" title="Comma separated item titles"
                   placeholder="Name" class="primary-input" [(ngModel)]="editGroup.name" required>
          </div>
        </div>
        <hr>

        <div class="input-group row" *ngIf="editGroup.members && editGroupMembers">
          <label class="col-12 col-md-2">Members</label>
          <div class="col-12 col-md-8 default-input invite-form">
            <div class="member-icon-wrapper">
              <div class="member-icon member-icon-sm" *ngFor="let member of editGroupMembers"
                   ngbTooltip="{{ member.firstname }} {{ member.lastname }}">
                <span class="name">{{ member.firstname }}</span>
              </div>
            </div>
            <input id="group_members" type="email" name="newMember" placeholder="email" [(ngModel)]="email" email>
            <button type="button" class="btn btn-outline-default" (click)="invite(email)"
                    [disabled]="invitationRequestRunning">
              <span *ngIf="!invitationRequestRunning">invite</span>
              <span *ngIf="invitationRequestRunning"><app-spinner></app-spinner></span>
            </button>
            <label for="group_members" class="help-text">Send invitation to another member</label>
          </div>
        </div>
        <hr *ngIf="editGroup.members && editGroup.members.length > 0">
        <div class="input-group row default-input">
          <label for="file" class="col-12 col-md-2">Image</label>
          <div class="col-12 col-md-8">
            <input type="file" id="file" (change)="onFileChange($event)">
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <div *ngIf="!editRequestRunning">
          <button type="button" class="btn btn-outline-success" (click)="addorUpdateGroup(editGroup)">Save</button>
          <button type="reset" class="btn btn-outline-default" (click)="c('Close click')">Close</button>
          <button type="button" class="btn btn-outline-danger btn-icon delete-item"
                  title="Leave this group" (click)="leaveGroup(editGroup)"
                  *ngIf="groupIsEditable(editGroup)"><i class="fa fa-sign-out"></i></button>
        </div>
        <div *ngIf="editRequestRunning">
          <app-spinner></app-spinner>
        </div>
      </div>
    </form>
  </template>
  <!-- BEGIN NEW GROUP MODAL -->

  <!-- BEGIN GROUPS -->
  <div class="container">
    <div class="group-control left">
      <button class="btn btn-outline-default btn-icon" (click)="showEditDialog(newGroup)">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="group-wrapper d-flex flex-row flex-wrap justify-content-center" *ngIf="groups">
      <a class="group" *ngFor="let group of groups" ngbTooltip="{{ group.name }}"
         [style.background-image]="'url(' + (group.thumbnail) + ')'"
         [routerLink]="[parentRoute + '/group/'  , group._id]" routerLinkActive="selected">
      </a>
    </div>
    <div *ngIf="!groups">
      <app-spinner></app-spinner>
    </div>
    <div class="group-control right">
      <span class="badge badge-info badge-count" *ngIf="invitationCount && invitationCount > 0">
        {{ invitationCount }}
      </span>
      <button #invitationsBtn class="btn btn-outline-default btn-icon" ngbTooltip="Invitations">
        <i class="fa fa-bell"></i>
      </button>
      <!-- BEGIN INVITATIONS POPOVER -->
      <div #invitationsPopover class="popover invitations-popover" [class.open]="invitationsOpen">
        <h3>Invitations</h3>
        <app-invitations *ngIf="invitationsOpen" (onInvitationChange)="refreshInvitationCount($event)"></app-invitations>
      </div>
      <!-- END INVITATIONS POPOVER -->
    </div>
  </div>
  <div class="group-info" *ngIf="selected">
    <div class="container">
      <span class="name">{{ selected.name }}</span>
      <div class="members">
      <span *ngFor="let member of selected.members">
        {{ member.firstname }}
      </span>
      </div>
      <button class="btn btn-outline-default btn-icon" (click)="onEditBtnClicked(selected)">
        <i class="fa fa-cog"></i>
      </button>
    </div>
  </div>
  <!-- END GROUPS -->
</section>
