<div class="invitations">
  <ul class="invitations" *ngIf="invitations && invitations.length > 0">
    <li *ngFor="let invitation of invitations"
        ngbTooltip="Invited by {{invitation.sender.firstname}} {{invitation.sender.lastname}}">
      <span class="name">{{ invitation.group.name }}</span>
      <div class="action">
        <button class="btn btn-icon btn-outline-default btn-accept" (click)="onAccept(invitation)" title="accept">
          <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-icon btn-outline-default btn-reject" (click)="onReject(invitation)" title="reject">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </li>
  </ul>
  <p *ngIf="invitations && invitations.length ===  0">
    There are no new invitations
  </p>
  <span *ngIf="!invitations">
    <app-spinner></app-spinner>
  </span>
</div>
